{% macro gen_delete_dialog(id, info, url, type='') %}
    <div id="delete{{ type }}{{ id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Suppression</h4>

                </div>
                <div class="modal-body">
                    <p>Voulez vous réellement supprimer <span class="text-info">{{ info }}</span> ?</p>
                </div>

                <div class="modal-footer">
                    <form action="{{ url_for(url, id=id) }}" method="post">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
