{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.inc.html' as m %}

{% block title %}Challenge :: {{ challenge.name }}{% endblock %}

{% block page_content %}

    <div class="container">
        <h1>Challenge: {{ challenge.name }}</h1>
        <p><a href="{{ url_for('admin.question-create', id=challenge.id) }}">Créer une nouvelle question</a></p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Expression de recherche</th>
                    <th>Aide</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for p in questions %}
                    <tr>
                        <td><a href="{{ url_for('admin.question', id=p.id, challenge_id=p.challenge) }}"><code>{{ p.hint_expr }}</code></a></td>
                        <td>{{ p.hint }}</td>
                        <td>
                            {{ m.gen_delete_dialog(p.id, p.hint_expr, url_for('admin.question-delete', id=p.id, challenge_id=p.challenge), 'Question') }}
                            <a href="#deleteQuestion{{ p.id }}" data-toggle="modal">Supprimer</a>
                            &bull;
                            <a href="{{ url_for('admin.question-answers', id=p.id, challenge_id=p.challenge) }}">Voir les réponses</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}